{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
{#    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">#}
    {% block ext_css %}
    {% endblock %}
</head>

<body>
{% include 'header.html' %}
{% block header %}

{% endblock %}

{% block content %}
{% endblock %}

    {% block ext_js %}
    {% endblock %}
</body>
</html>